@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Dm Sans", sans-serif;
}

:root {
    font-family: var(--font-sans);
    font-weight: 500;
}

button{
    cursor: pointer;
}